

  <div class="span-4">
    [% PROCESS 'src/include/left_menu.tt2' %]
  </div>
  <div class="span-20 top-options last">
    <a class="button" href="[% c.uri_for( 'list' ) %]">
      <img src='/static/images/iconpack/application_view_list.png' alt='list' title="list"></img>
      list
    </a>

    <div class="span-20 last">
        <div class="span-20 viewTitleBorders">
          <h1 class='loud'>[% page_html.title || item %]</h1>
        </div>
        <div class="span-20">
          [% form.render %]
        </div>
    </div>
  </div>


