

  [% PROCESS 'src/include/common_htmlhead.tt' %]
  <div class="span-20 top-options last">
    <div class="span-20 last">
        <div class="span-20 viewTitleBorders">
          <h1 class='loud'>[% page_html.title || item || 'New' %]</h1>
        </div>
        <div class="span-20">
          [% form.render %]
        </div>
    </div>
  </div>

